* {
    font-family: 'Montserrat', sans-serif;
    transform: translateZ(0);
}

#feat-card:hover{
  -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
    transition: .2s ease-in-out;
}
